body, html { 
    background-color: #222222;
    color: white;
    margin: 0;
    background-size: cover;
}
@font-face{
  font-family: Rubik;
  src: url(fonts/Rubik-Bold.ttf);
}
@font-face{
  font-family: Rubik-regular;
  src: url(fonts/Rubik-Regular.ttf);
}
gpratique {
  padding-left: 10vw;
}
.cabe{
    display: inline-block;
    width: 10vw;
    color: white;
    font-family: "Rubik";
    font-size: 1vw;
}
#header{
    position: relative;
    text-align: center;
    background-color: #161616;
    padding-top: 1vw;
    padding-bottom: 1vw;
    width: auto;
}
a:link {
    color:  white;
  }

a:visited{
    color: white;
}

  h1, h2 {
      text-align: center;
     padding-bottom: 8vw;
  
  }
.thefluency{
  width: 30vw;
}
.nomepag {
  width: 60vw;
}
  p {
      text-align: center;
      font-size: 2vw;
      font-family: "Rubik-regular";
  }
  .fundo {
    position: relative;
    text-align: center;
    background-color: #161616;
    padding-top: 3vw;
    padding-bottom: 3vw;
    font-size: 2vw;
  }
  h3 {
    text-align: center;
    margin-bottom: 0vw;
    color: white;
    font-family: "Rubik";
    font-size: 3vw;
    font-style: italic;
    text-shadow: 7px 5px #161616;
  }
  .txtsombra{
      text-align: center;
      font-style: italic;
      text-shadow: 7px 5px #161616;
      font-size: 3vw;
  }
  .habilidades{
    position: relative;
    display: inline-block;
    width: 19vw;
    color: white;
    font-family: "Rubik";
    font-size: 3vw;
    font-style: italic;
    text-shadow: 7px 5px #161616;
  }
  article{
      text-align: center;

  }
  section{
        display: flex;
        justify-content: center;
        background-color: #161616;
        text-shadow: 7px 5px black;
        flex-direction: row;
        align-items: center;
    }
    .botao{
        margin: 3vw;
        font-size: 3vw;
        text-align: left;
    }
    footer{
        text-align: left;
        background-color: #161616;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 5em;
        color: white;
        font-family: "Rubik";
        font-size: 15pt;
        margin-top: 10em;
    }
    a{
        text-decoration: none;
    }
    .titulo{
        text-align: center;
        font-style: italic;
        text-shadow: 7px 5px #161616;
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 38px;
    }
    .referencias {
        display: inline-block;
        width: 300px;
    }
    .cont {
        box-shadow: 7px 7px #161616; 
    }
    .titulo3{
        text-align: left;
        margin-bottom: 0em;
        color: white;
        font-family: "rubik";
        font-size: 40pt;
        font-style: italic;
        text-shadow: 7px 5px #161616;
        margin-left: 30px;
      }
      .justify{
        text-align: left;
        padding-left: 11em;
        padding-right: 7em;
      }

.paragrafoleft{
    padding-left: 2em;
    width: 30em;
    font-size: 30px;
    text-align: justify;
    padding-right: 35em;
    
}
.texto{
  padding-left: 10vw;
  padding-right: 10vw;
  font-size: 30px;
  text-align: justify;
  
}
.titulotexto {
  padding-left: 5vw;
  text-align: left;
}
.titalinesq {
    padding-left: 1vw;
    text-align: left;
    padding-right: 7vw;
}
.imgleft {
    width: 250px;
    float: left;
    margin-right: 15px;
    border: white;
    border-style: solid;
    border-width: 2px;
}
.imgright {
    width: 25 0px;
    float: right;
    margin-left: 15px;
    border: white;
    border-style: solid;
    border-width: 2px;
}
.paragraforight {
    padding-right: 2em;
    font-size: 30px;
    text-align: justify;
    padding-left: 12vw;
}
.titalindir {
    padding-right: 65px;
    text-align: right;
    padding-left: 7em;
}
  #quadro h3 {
    margin-bottom: 1em;
  }
  
  #quadro .post {
    max-width: 400px;
    display: inline-block;
    
  }
  
  #quadro .post .titulo {
    text-shadow: 1px 1px black;
  }
  
  #quadro .titulo{
    position: relative;
    padding-top: 90px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 251px;
    height: 161px;
    font-size: 45px; 
    margin-top: -85%;
    margin-left: 24px;
    font-family: Rubik;
  }
  .titulo {
    opacity: 0;
    transition: all 0.5s ease;
  }
  
  .titulo:hover {
     opacity: 1;
  }
  
  #quadro .post {
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
  }